<h1>Importing Libraries</h1>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
import math

In [2]:
df=pd.read_excel("/home/nephalem/Desktop/Data Science/Datasets/Doctor's Consultation Fee/Train.xlsx")

In [3]:
df.head()

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
0,"BHMS, MD - Homeopathy",24 years experience,100%,"Kakkanad, Ernakulam",Homeopath,"100% 16 Feedback Kakkanad, Ernakulam",100
1,"BAMS, MD - Ayurveda Medicine",12 years experience,98%,"Whitefield, Bangalore",Ayurveda,"98% 76 Feedback Whitefield, Bangalore",350
2,"MBBS, MS - Otorhinolaryngology",9 years experience,NaN,"Mathikere - BEL, Bangalore",ENT Specialist,NaN,300
3,"BSc - Zoology, BAMS",12 years experience,NaN,"Bannerghatta Road, Bangalore",Ayurveda,"Bannerghatta Road, Bangalore ₹250 Available on...",250
4,BAMS,20 years experience,100%,"Keelkattalai, Chennai",Ayurveda,"100% 4 Feedback Keelkattalai, Chennai",250

In [3]:
df.shape

(5961, 7)

In [4]:
df1=pd.read_excel("/home/nephalem/Desktop/Data Science/Datasets/Doctor's Consultation Fee/Test.xlsx")

In [5]:
#Combining test and train
full=pd.concat([df,df1],ignore_index=True)

/home/nephalem/miniconda3/envs/AI/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

<h1>Preprocessing</h1>

In [6]:
miss=[]
for i, row in full.iterrows():
    miss.append(re.sub('[,]', ' ', str(row["Miscellaneous_Info"])))

In [7]:
full["Miss"]=miss

In [8]:
from nltk.corpus import stopwords
import string
import re
import nltk
from nltk.stem.porter import PorterStemmer

In [9]:
missi=[]
for i, row in full.iterrows():
    missi.append(re.sub('[,/]', '', str(row["Miscellaneous_Info"])))

In [10]:
full["missi"]=missi

In [11]:
missi1=[]
for i, row in full.iterrows():
    missi1.append(re.sub(' +', ' ', str(row["missi"])))

In [12]:
full["Missi1"]=missi1

In [13]:
full["Missi1"].replace("nan","####",inplace=True)

In [14]:
from sklearn.feature_extraction.text import CountVectorizer
cv1 = CountVectorizer(max_features=200)
y = cv1.fit_transform(full["Missi1"]).toarray()

In [15]:
len(cv1.vocabulary_)

200

In [16]:
y.shape

(7948, 200)

In [17]:
thirty= list(y)
thirty1=pd.DataFrame(thirty)

In [18]:
qual=[]
for i, row in full.iterrows():
    qual.append(re.sub('[,]', ' ', str(row["Qualification"])))

In [19]:
full["Qual"]=qual

In [20]:
qual1=[]
for i, row in full.iterrows():
    qual1.append(re.sub('[-]', '', str(row["Qual"])))

In [21]:
full["Qual1"]=qual1

In [22]:
qual2=[]
for i, row in full.iterrows():
    qual2.append(re.sub(' +', ' ', str(row["Qual1"])))

In [24]:
full["Qual2"]=qual2

In [25]:
#full["Qual2"]

In [26]:
full["Qual2"].replace("nan","####",inplace=True)

In [27]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=50)
X = cv.fit_transform(full["Qual2"]).toarray()

In [28]:
twenty= list(X)
twenty1=pd.DataFrame(twenty)

In [29]:
#plt.figure(figsize=(25,25))
#sns.distplot(df["Fees"])

In [ ]:
#df.isna().sum()

In [ ]:
#df.shape

In [ ]:
#df["Rating1"].value_counts().sort_values()

In [ ]:
#plt.figure(figsize=(25,25))
#sns.lineplot(x="Rating_",y="Fees",data=df)

In [ ]:
#df["Experience"].value_counts()

In [30]:
Rating1=[]
for i, row in df.iterrows():
    Rating1.append(re.sub('[%]', '', str(row["Rating"])))

In [31]:
Rating1test=[]
for i, row in df1.iterrows():
    Rating1test.append(re.sub('[%]', '', str(row["Rating"])))

In [32]:
Rating_=[]
for i in range(0,len(Rating1)):
    Rating_.append(float(Rating1[i]))

In [33]:
Rating_test=[]
for i in range(0,len(Rating1test)):
    Rating_test.append(float(Rating1test[i]))

In [34]:
df["Rating_"]=Rating_

In [35]:
df1["Rating_"]=Rating_test

In [36]:
df["Rating_NA"]=df["Rating"].isna()

In [37]:
df1["Rating_NA"]=df1["Rating"].isna()

In [38]:
df['Rating_'].fillna(int(-999),inplace=True)

In [39]:
df1['Rating_'].fillna(int(-999),inplace=True)

In [40]:
#sns.barplot(x="Profile",y="Fees", data=df)

In [41]:
#df[df["Rating_"]==76]

In [42]:
Experience1=[]
for i, row in df.iterrows():
    Experience1.append(re.sub('[ years experience]', '', str(row["Experience"])))

In [43]:
Experience1test=[]
for i, row in df1.iterrows():
    Experience1test.append(re.sub('[ years experience]', '', str(row["Experience"])))

In [44]:
Experience_=[]
for i in range(0,len(Experience1)):
    Experience_.append(float(Experience1[i]))

In [45]:
Experience_test=[]
for i in range(0,len(Experience1test)):
    Experience_test.append(float(Experience1test[i]))

In [46]:
df["Experience_"]=Experience_

In [47]:
df1["Experience_"]=Experience_test

In [48]:
#df

In [49]:
#plt.figure(figsize=(25,25))
#sns.lineplot(x="Experience_",y="Fees",data=df)

In [50]:
#sns.barplot(x="Experience_",y="Fees")

In [51]:
#df["Qualification"].value_counts()

In [52]:
#df["Place"].value_counts()

In [53]:
lol=df["Place"].str.split(", ",n=1,expand=True)

In [54]:
df["Location"]=lol[0]

In [55]:
df["City"]=lol[1]

In [56]:
lol1=df1["Place"].str.split(", ",n=1,expand=True)

In [57]:
df1["Location"]=lol1[0]

In [58]:
df1["City"]=lol1[1]

In [59]:
unknownlocation=['Alipur',
 'Aroor',
 'Ayanambakkam',
 'Ayyappankavu',
 'BHEL',
 'Bachupally',
 'Bhandup',
 'Bhogal',
 'Burari',
 'Chandrayangutta',
 'Cheranalloor',
 'Chickpet',
 'Choolai',
 'Delhi Cantonment',
 'Dindarpur',
 'Dwarka Sector 12',
 'Ernakulam',
 'Gamdevi',
 'Hasthinapuram',
 'Hastsal',
 'Hongasandra',
 'Hosur Road',
 'Iyyappanthangal',
 'JP Nagar 9 Phase',
 'Jafferkhanpet',
 'Jayanagar 2 Block',
 'KH Road',
 'Kadubeesanahalli',
 'Kalu Sarai',
 'Kanjoor',
 'Kapra',
 'Kaudiar',
 'Khar East',
 'Koramangala 7 Block',
 'Kudlu',
 'Kurla',
 'Lingarajapuram',
 'Madambakkam',
 'Madhavaram',
 'Mahavir Enclave',
 'Mahipalpur',
 'Manchavilakom',
 'Meerpet',
 'Nacharam',
 'Nandambakkam',
 'Nedumangad',
 'Nedumbassery',
 'Nemom',
 'Outer Ring Road',
 'Padi',
 'Palghar',
 'Pattabiram',
 'Periyanaickenpalayam',
 'Poothotta',
 'Pratap Nagar',
 'Ramakrishna Puram',
 'Rohini Sector 20',
 'Rohini West',
 'Safilguda',
 'Sagar Road',
 'Sarvapriya Vihar',
 'Seeranaickenpalayam',
 'Sewri',
 'Shadipur',
 'Sriniwaspuri',
 'Tavarekere',
 'Tv Thampanoor',
 'Vikas Nagar',
 'Vishwas Nagar',
 'Warasiguda',
 'Yemalur']

In [60]:
len(unknownlocation)

71

In [61]:
twentytrain=twenty1.iloc[0:5961,:]

In [62]:
twentytest=twenty1.iloc[5961:7949,:]

In [63]:
thritytrain1=thirty1.iloc[0:5961,:]

In [64]:
thritytest1=thirty1.iloc[5961:7949,:]

In [65]:
thritytest1.reset_index(drop=True,inplace=True)

In [66]:
twentytest.reset_index(drop=True,inplace=True)

In [67]:
df=pd.concat([df,twentytrain,thritytrain1],axis=1,ignore_index=True)

In [68]:
lol=pd.concat([df1,twentytest,thritytest1],axis=1,ignore_index=True)

In [69]:
#lol.iloc[:,0:10]

In [70]:
#df.iloc[:,0:10]

In [71]:
samekey=pd.DataFrame()

In [72]:
for i in range(0,len(unknownlocation)):
    lol1=lol[lol[9] == unknownlocation[i]]
    samekey=pd.concat([samekey,lol1],axis=0)

In [73]:
#Getting Index and putting them onto a list
index=samekey.index.tolist()

In [74]:
len(index)

83

In [75]:
for i in range(0,len(unknownlocation)):
    lol=lol[lol[9] != unknownlocation[i]]

In [76]:
#for i in df.iterrows():
#lol1=df[df['Location']]

In [77]:
#from sklearn.preprocessing import LabelEncoder
#lbl=LabelEncoder()
#lbl.fit(df["Qualification"])

In [78]:
#lbl.transform(df1["Qualification"])

In [79]:
#set(df1["Qual2"]).difference(set(df["Qual2"]))

In [80]:
#df[df["Qual2"]=='BDS, MDS']

In [81]:
#df[df["Qual2"]=="MD - Physician, DNB - General Medicine, Fellowship in Diabetology"]

In [82]:
#df1["Qual1"].unique()

In [83]:
df.drop([0,1,2,3,5],axis=1,inplace=True)

In [84]:
lol.drop([0,1,2,3,5],axis=1,inplace=True)

In [85]:
samekey.drop([0,1,2,3,5],axis=1,inplace=True)

In [86]:
lol.head()

,4,6,7,8,9,10,11,12,13,14,...,251,252,253,254,255,256,257,258,259,260
0,General Medicine,-999.0,True,35.0,Ghatkopar East,Mumbai,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ENT Specialist,-999.0,True,31.0,West Marredpally,Hyderabad,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Dermatologists,70.0,False,40.0,KK Nagar,Chennai,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Ayurveda,-999.0,True,0.0,New Ashok Nagar,Delhi,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,Dentist,100.0,False,16.0,Kanakpura Road,Bangalore,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [87]:
df.head()

,4,6,7,8,9,10,11,12,13,14,...,252,253,254,255,256,257,258,259,260,261
0,Homeopath,100,100.0,False,24.0,Kakkanad,Ernakulam,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Ayurveda,350,98.0,False,12.0,Whitefield,Bangalore,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2,ENT Specialist,300,-999.0,True,9.0,Mathikere - BEL,Bangalore,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Ayurveda,250,-999.0,True,12.0,Bannerghatta Road,Bangalore,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Ayurveda,250,100.0,False,20.0,Keelkattalai,Chennai,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [88]:
df2=df.drop([10],axis=1)

In [89]:
#df.drop("Place",axis=1,inplace=True)

In [90]:
#df.head()

In [91]:
#df.isna().sum()

In [92]:
#df["Qual2"].fillna("Nothing",inplace=True)

In [93]:
#df1["Qual2"].fillna("Nothing",inplace=True)

In [94]:
df1=lol

In [95]:
df["LocationNA"]=df[10].isna()
df1["LocationNA"]=df1[9].isna()

In [96]:
df["CityNA"]=df[11].isna()
df1["CityNA"]=df1[10].isna()

In [97]:
df[11].fillna("UnknownCity",inplace=True)
df1[10].fillna("UnknownCity",inplace=True)
df2[11].fillna("UnknownCity",inplace=True)

In [98]:
#df2.drop(["CityNA"],axis=1,inplace=True)

In [99]:
df[10].fillna("UnknownLocation",inplace=True)
df1[9].fillna("UnknownLocation",inplace=True)

In [100]:
groupbylocation=df.groupby(10)[6].mean()
df['LOCDmean']=df[10].map(groupbylocation)
df1['LOCDmean']=df1[9].map(groupbylocation)

In [101]:
groupbylocationmin=df.groupby(10)[6].min()
df['LOCDmin']=df[10].map(groupbylocationmin)
df1['LOCDmin']=df1[9].map(groupbylocationmin)

In [102]:
groupbylocationmax=df.groupby(10)[6].max()
df['LOCDmax']=df[10].map(groupbylocationmax)
df1['LOCDmax']=df1[9].map(groupbylocationmax)

In [103]:
#Some instances only one Location causing Null Values
#groupbylocationdev=df.groupby(10)[6].std()
#df['LOCDstdev']=df[10].map(groupbylocationdev)
#df1['LOCDstdev']=df1[9].map(groupbylocationdev)

In [104]:
#Dropping location
samekey.drop([9],axis=1,inplace=True)

In [105]:
groupbycitymean=df.groupby(11)[6].mean()
df['Citymean']=df[11].map(groupbycitymean)
df1['Citymean']=df1[10].map(groupbycitymean)
df2['Citymean']=df2[11].map(groupbycitymean)

In [106]:
groupbycitymin=df.groupby(11)[6].min()
df['Citymin']=df[11].map(groupbycitymin)
df1['Citymin']=df1[10].map(groupbycitymin)
df2['Citymin']=df2[11].map(groupbycitymin)

In [107]:
groupbycitymax=df.groupby(11)[6].max()
df['Citymax']=df[11].map(groupbycitymax)
df1['Citymax']=df1[10].map(groupbycitymax)
df2['Citymax']=df2[11].map(groupbycitymax)

In [108]:
groupbycitydev=df.groupby(11)[6].std()
df['Citystdev']=df[11].map(groupbycitydev)
df1['Citystdev']=df1[10].map(groupbycitydev)
df2['Citystdev']=df2[11].map(groupbycitydev)

In [109]:
samekey['Citymean']=samekey[10].map(groupbycitymean)
samekey['Citymin']=samekey[10].map(groupbycitymin)
samekey['Citymax']=samekey[10].map(groupbycitymax)
samekey['Citystdev']=samekey[10].map(groupbycitydev)

In [110]:
stdev=df['Citystdev'].std()
stdev2=df2['Citystdev'].std()

In [111]:
df['Citystdev']=df['Citystdev'].fillna(stdev,axis=0)
df2['Citystdev']=df2['Citystdev'].fillna(stdev,axis=0)

Creating Profile_Location

In [112]:
df1.head()

,4,6,7,8,9,10,11,12,13,14,...,260,LocationNA,CityNA,LOCDmean,LOCDmin,LOCDmax,Citymean,Citymin,Citymax,Citystdev
0,General Medicine,-999.0,True,35.0,Ghatkopar East,Mumbai,0,0,0,0,...,0,False,False,333.684211,50,800,308.292863,10,920,234.584964
1,ENT Specialist,-999.0,True,31.0,West Marredpally,Hyderabad,0,0,0,0,...,0,False,False,361.111111,150,500,307.507886,20,800,152.340317
2,Dermatologists,70.0,False,40.0,KK Nagar,Chennai,0,0,0,0,...,0,False,False,271.428571,100,500,283.602339,50,950,167.797081
3,Ayurveda,-999.0,True,0.0,New Ashok Nagar,Delhi,0,0,0,1,...,0,False,False,233.333333,100,300,363.006757,50,900,212.523175
4,Dentist,100.0,False,16.0,Kanakpura Road,Bangalore,0,0,0,0,...,0,False,False,345.000000,250,500,328.842607,30,900,159.136744

In [113]:
df["ProfLoc"]=df[4].astype(str) + "_" + df[10].astype(str)
df1["ProfLoc"]=df1[4].astype(str) + "_" + df1[9].astype(str)

In [114]:
groupbyprofloc=df.groupby('ProfLoc')[6].mean()
df['PLocmean']=df['ProfLoc'].map(groupbyprofloc)
df1['PLocmean']=df1['ProfLoc'].map(groupbyprofloc)

In [115]:
df1['ProfLoc'].isnull().sum()

0

In [116]:
df1[df1['PLocmean'].isna()]

,4,6,7,8,9,10,11,12,13,14,...,CityNA,LOCDmean,LOCDmin,LOCDmax,Citymean,Citymin,Citymax,Citystdev,ProfLoc,PLocmean
2,Dermatologists,70.0,False,40.0,KK Nagar,Chennai,0,0,0,0,...,False,271.428571,100,500,283.602339,50,950,167.797081,Dermatologists_KK Nagar,NaN
3,Ayurveda,-999.0,True,0.0,New Ashok Nagar,Delhi,0,0,0,1,...,False,233.333333,100,300,363.006757,50,900,212.523175,Ayurveda_New Ashok Nagar,NaN
10,Dentist,100.0,False,4.0,Erragadda,Hyderabad,0,0,0,0,...,False,358.333333,100,500,307.507886,20,800,152.340317,Dentist_Erragadda,NaN
14,ENT Specialist,-999.0,True,4.0,Madandapuram,Chennai,0,0,0,0,...,False,200.000000,200,200,283.602339,50,950,167.797081,ENT Specialist_Madandapuram,NaN
16,Dermatologists,87.0,False,16.0,Tis Hazari,Delhi,0,0,0,0,...,False,550.000000,550,550,363.006757,50,900,212.523175,Dermatologists_Tis Hazari,NaN
20,Homeopath,-999.0,True,11.0,Dadar,Mumbai,0,1,0,0,...,False,480.000000,100,800,308.292863,10,920,234.584964,Homeopath_Dadar,NaN
31,Ayurveda,100.0,False,36.0,Chandni Chowk,Delhi,0,0,0,1,...,False,250.000000,250,250,363.006757,50,900,212.523175,Ayurveda_Chandni Chowk,NaN
33,ENT Specialist,95.0,False,17.0,Sakinaka,Mumbai,0,0,0,0,...,False,124.444444,50,500,308.292863,10,920,234.584964,ENT Specialist_Sakinaka,NaN
36,Homeopath,-999.0,True,8.0,Kolathur,Chennai,0,0,0,0,...,False,184.615385,50,300,283.602339,50,950,167.797081,Homeopath_Kolathur,NaN
41,Ayurveda,-999.0,True,18.0,LB Nagar,Hyderabad,0,0,1,1,...,False,275.000000,200,500,307.507886,20,800,152.340317,Ayurveda_LB Nagar,NaN
42,Ayurveda,-999.0,True,18.0,Jayanagar 4 Block,Bangalore,0,0,0,1,...,False,364.285714,100,750,328.842607,30,900,159.136744,Ayurveda_Jayanagar 4 Block,NaN
45,Homeopath,-999.0,True,29.0,Ganesh Nagar,Delhi,0,0,0,0,...,False,275.000000,50,500,363.006757,50,900,212.523175,Homeopath_Ganesh Nagar,NaN
49,Homeopath,-999.0,True,9.0,Thanisandra,Bangalore,0,0,0,0,...,False,300.000000,300,300,328.842607,30,900,159.136744,Homeopath_Thanisandra,NaN
50,Dentist,100.0,False,19.0,Gulmohar Park,Delhi,0,0,0,0,...,False,100.000000,100,100,363.006757,50,900,212.523175,Dentist_Gulmohar Park,NaN
58,Ayurveda,93.0,False,30.0,Aluva,Ernakulam,0,0,0,1,...,False,200.000000,100,300,188.431373,10,600,111.474080,Ayurveda_Aluva,NaN
67,General Medicine,95.0,False,18.0,Ashok Vihar,Delhi,0,0,0,0,...,False,385.714286,200,500,363.006757,50,900,212.523175,General Medicine_Ashok Vihar,NaN
83,Dentist,100.0,False,8.0,Balkampet,Hyderabad,0,0,0,0,...,False,400.000000,300,500,307.507886,20,800,152.340317,Dentist_Balkampet,NaN
88,Ayurveda,-999.0,True,27.0,Badarpur,Delhi,0,0,0,1,...,False,200.000000,200,200,363.006757,50,900,212.523175,Ayurveda_Badarpur,NaN
89,General Medicine,-999.0,True,16.0,Navalur,Chennai,0,0,0,0,...,False,400.000000,400,400,283.602339,50,950,167.797081,General Medicine_Navalur,NaN
94,Homeopath,-999.0,True,5.0,Badarpur,Delhi,0,0,0,0,...,False,200.000000,200,200,363.006757,50,900,212.523175,Homeopath_Badarpur,NaN
97,Homeopath,-999.0,True,6.0,Peddar Road,Mumbai,0,0,0,0,...,False,260.000000,100,500,308.292863,10,920,234.584964,Homeopath_Peddar Road,NaN
107,General Medicine,97.0,False,24.0,Miyapur,Hyderabad,0,0,0,0,...,False,246.153846,100,500,307.507886,20,800,152.340317,General Medicine_Miyapur,NaN
124,ENT Specialist,-999.0,True,11.0,Horamavu,Bangalore,0,0,0,0,...,False,380.000000,200,600,328.842607,30,900,159.136744,ENT Specialist_Horamavu,NaN
127,General Medicine,99.0,False,16.0,Dwarka Sector 6,Delhi,0,0,0,0,...,False,566.666667,300,700,363.006757,50,900,212.523175,General Medicine_Dwarka Sector 6,NaN
128,General Medicine,-999.0,True,38.0,Peeragarhi,Delhi,0,0,0,0,...,False,400.000000,400,400,363.006757,50,900,212.523175,General Medicine_Peeragarhi,NaN
129,General Medicine,-999.0,True,19.0,Himayat Nagar,Hyderabad,0,0,0,0,...,False,395.833333,300,500,307.507886,20,800,152.340317,General Medicine_Himayat Nagar,NaN
144,Dentist,88.0,False,12.0,Nangloi,Delhi,0,0,0,0,...,False,300.000000,300,300,363.006757,50,900,212.523175,Dentist_Nangloi,NaN
154,Homeopath,-999.0,True,12.0,Ganapathy,Coimbatore,0,0,0,0,...,False,127.058824,50,200,154.298246,50,700,77.339794,Homeopath_Ganapathy,NaN
161,Dentist,-999.0,True,9.0,Churchgate,Mumbai,0,0,0,0,...,False,100.000000,100,100,308.292863,10,920,234.584964,Dentist_Churchgate,NaN
170,Dermatologists,97.0,False,9.0,Borivali East,Mumbai,0,0,0,0,...,False,280.000000,60,750,308.292863,10,920,234.584964,Dermatologists_Borivali East,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1813,General Medicine,93.0,False,30.0,Virugambakkam,Chennai,0,0,0,0,...,False,250.000000,100,600,283.602339,50,950,167.797081,General Medicine_Virugambakkam,NaN
1814,ENT Specialist,-999.0,True,8.0,Ramapuram,Chennai,0,0,0,0,...,False,200.000000,200,200,283.602339,50,950,167.797081,ENT Specialist_Ramapuram,NaN
1821,General Medicine,86.0,False,41.0,Perungalathur,Chennai,0,0,0,0,...,False,200.000000,200,200,283.602339,50,950,167.797081,General Medicine_Perungalathur,NaN
1823,Ayurveda,-999.0,True,11.0,Kamla Nagar,Delhi,0,0,0,1,...,False,470.000000,200,800,363.006757,50,900,212.523175,Ayurveda_Kamla Nagar,NaN
1824,Homeopath,94.0,False,25.0,Sion East,Mumbai,0,0,0,0,...,False,233.333333,100,500,308.292863,10,920,234.584964,Homeopath_Sion East,NaN
1833,Dentist,92.0,False,9.0,Model Town,Delhi,0,0,0,0,...,False,340.000000,100,900,363.006757,50,900,212.523175,Dentist_Model Town,NaN
1837,Ayurveda,-999.0,True,10.0,Kochi M.G.Road,Ernakulam,0,0,0,1,...,False,150.000000,150,150,188.431373,10,600,111.474080,Ayurveda_Kochi M.G.Road,NaN
1841,Homeopath,-999.0,True,9.0,Sion East,Mumbai,0,0,0,0,...,False,233.333333,100,500,308.292863,10,920,234.584964,Homeopath_Sion East,NaN
1845,Dentist,-999.0,True,9.0,Pappanaickenpudur,Coimbatore,0,0,0,0,...,False,150.000000,150,150,154.298246,50,700,77.339794,Dentist_Pappanaickenpudur,NaN
1846,ENT Specialist,93.0,False,30.0,Hauz Khas,Delhi,0,0,0,0,...,False,428.571429,100,500,363.006757,50,900,212.523175,ENT Specialist_Hauz Khas,NaN
1847,Dermatologists,94.0,False,14.0,JP Nagar,Bangalore,0,0,0,0,...,False,262.500000,100,500,328.842607,30,900,159.136744,Dermatologists_JP Nagar,NaN
1859,Homeopath,-999.0,True,12.0,Kadavanthra,Ernakulam,0,0,0,0,...,False,300.000000,150,500,188.431373,10,600,111.474080,Homeopath_Kadavanthra,NaN
1872,General Medicine,-999.0,True,18.0,Virugambakkam,Chennai,0,0,0,0,...,False,250.000000,100,600,283.602339,50,950,167.797081,General Medicine_Virugambakkam,NaN
1874,Homeopath,-999.0,True,16.0,Erragadda,Hyderabad,0,0,0,0,...,False,358.333333,100,500,307.507886,20,800,152.340317,Homeopath_Erragadda,NaN
1875,ENT Specialist,55.0,False,31.0,Tilak Nagar,Delhi,0,0,0,0,...,False,330.000000,100,800,363.006757,50,900,212.523175,ENT Specialist_Tilak Nagar,NaN
1889,General Medicine,-999.0,True,23.0,Cunningham Road,Bangalore,0,0,0,0,...,False,600.000000,600,600,328.842607,30,900,159.136744,General Medicine_Cunningham Road,NaN
1890,Dermatologists,-999.0,True,7.0,Ashok Vihar,Delhi,0,0,0,0,...,False,385.714286,200,500,363.006757,50,900,212.523175,Dermatologists_Ashok Vihar,NaN
1891,Ayurveda,-999.0,True,6.0,Manikonda,Hyderabad,0,0,0,1,...,False,276.190476,100,500,307.507886,20,800,152.340317,Ayurveda_Manikonda,NaN
1893,General Medicine,100.0,False,13.0,LB Nagar,Hyderabad,0,0,0,0,...,False,275.000000,200,500,307.507886,20,800,152.340317,General Medicine_LB Nagar,NaN
1903,ENT Specialist,91.0,False,18.0,JP Nagar 5 Phase,Bangalore,0,0,0,0,...,False,164.285714,100,350,328.842607,30,900,159.136744,ENT Specialist_JP Nagar 5 Phase,NaN
1904,General Medicine,-999.0,True,6.0,Kachiguda,Hyderabad,0,0,0,0,...,False,233.333333,100,500,307.507886,20,800,152.340317,General Medicine_Kachiguda,NaN
1906,ENT Specialist,94.0,False,13.0,Dahisar East,Mumbai,0,0,0,0,...,False,250.625000,80,600,308.292863,10,920,234.584964,ENT Specialist_Dahisar East,NaN
1911,Homeopath,-999.0,True,21.0,Vasundhra Enclave,Delhi,0,0,0,0,...,False,400.000000,300,500,363.006757,50,900,212.523175,Homeopath_Vasundhra Enclave,NaN
1939,Homeopath,-999.0,True,14.0,Boduppal,Hyderabad,0,0,0,0,...,False,200.000000,150,250,307.507886,20,800,152.340317,Homeopath_Boduppal,NaN
1946,Dermatologists,95.0,False,22.0,Kaloor,Ernakulam,0,0,0,0,...,False,210.000000,50,500,188.431373,10,600,111.474080,Dermatologists_Kaloor,NaN
1949,Dermatologists,-999.0,True,6.0,Ramapuram,Chennai,0,0,0,0,...,False,200.000000,200,200,283.602339,50,950,167.797081,Dermatologists_Ramapuram,NaN
1967,Dentist,98.0,False,13.0,Yelahanka,Bangalore,0,0,0,0,...,False,329.333333,150,750,328.842607,30,900,159.136744,Dentist_Yelahanka,NaN
1970,Dentist,-999.0,True,7.0,Sundarapuram,Coimbatore,0,1,0,0,...,False,200.000000,200,200,154.298246,50,700,77.339794,Dentist_Sundarapuram,NaN
1974,ENT Specialist,-999.0,True,19.0,Munirka,Delhi,0,0,0,0,...,False,460.000000,300,600,363.006757,50,900,212.523175,ENT Specialist_Munirka,NaN
1986,Dermatologists,-999.0,True,8.0,Pallikaranai,Chennai,0,0,0,0,...,False,356.666667,100,600,283.602339,50,950,167.797081,Dermatologists_Pallikaranai,NaN

In [117]:
df1['PLocmean'].isnull().sum()

339

In [118]:
df1.shape

(1904, 267)

In [119]:
df['PLocmean'].mean()

307.9446401610468

In [120]:
mean=df1['PLocmean'].mean()

In [121]:
mean

322.89764783225047

In [122]:
df1['PLocmean']=df1['PLocmean'].fillna(mean,axis=0)

In [ ]:
df1['PLocmean'].isnull().sum()

In [123]:
df.drop(['ProfLoc'],axis=1,inplace=True)
df1.drop(['ProfLoc'],axis=1,inplace=True)

In [124]:
#groupbyprofloc=df.groupby(4)[6].mean()
#df['ProfMean']=df[4].map(groupbyprofloc)
#df1['ProfMean']=df1[4].map(groupbyprofloc)

In [125]:
#df1['ProfMean'].isnull().sum()

In [126]:
#df1["Profile"]

In [127]:
#groupbyQualification1=df.groupby('Qual1')['Fees'].mean()
#df['Qualification1mean']=df['Qual1'].map(groupbyQualification1)
#df1['Qualification1mean']=df1['Qual1'].map(groupbyQualification1)

In [128]:
#groupbyQualification2=df.groupby('Qual2')['Fees'].mean()
#df['Qualification2mean']=df['Qual2'].map(groupbyQualification2)
#df1['Qualification2mean']=df1['Qual2'].map(groupbyQualification2)

In [129]:
#df.drop(["Location","LocationNA"],axis=1,inplace=True)
#df1.drop(["Location","LocationNA"],axis=1,inplace=True)

In [130]:
#df.drop(["Qual2"],axis=1,inplace=True)
#df1.drop(["Qual2"],axis=1,inplace=True)

In [131]:
#df.isnull().sum()

In [132]:
X=df.drop([6],axis=1)

In [133]:
X1=df2.drop([6],axis=1)

In [134]:
y=df[6]

In [135]:
y1=df2[6]

In [136]:
test=df1

In [137]:
test2=samekey

In [138]:
X.columns=range(X.shape[1])

In [139]:
X1.columns=range(X1.shape[1])

In [140]:
test.columns=range(test.shape[1])

In [141]:
test2.columns=range(test2.shape[1])

In [142]:
test.head()

,0,1,2,3,4,5,6,7,8,9,...,256,257,258,259,260,261,262,263,264,265
0,General Medicine,-999.0,True,35.0,Ghatkopar East,Mumbai,0,0,0,0,...,False,False,333.684211,50,800,308.292863,10,920,234.584964,350.000000
1,ENT Specialist,-999.0,True,31.0,West Marredpally,Hyderabad,0,0,0,0,...,False,False,361.111111,150,500,307.507886,20,800,152.340317,400.000000
2,Dermatologists,70.0,False,40.0,KK Nagar,Chennai,0,0,0,0,...,False,False,271.428571,100,500,283.602339,50,950,167.797081,322.897648
3,Ayurveda,-999.0,True,0.0,New Ashok Nagar,Delhi,0,0,0,1,...,False,False,233.333333,100,300,363.006757,50,900,212.523175,322.897648
4,Dentist,100.0,False,16.0,Kanakpura Road,Bangalore,0,0,0,0,...,False,False,345.000000,250,500,328.842607,30,900,159.136744,300.000000

In [143]:
from sklearn.preprocessing import LabelEncoder
cols=(0,2,4,5,256,257)
for c in cols:
    lbl=LabelEncoder()
    lbl.fit(list(X[c].values))
    X[c]=lbl.transform(list(X[c].values))
    test[c]=lbl.transform(list(test[c].values))

In [144]:
X1.head()

,0,1,2,3,4,5,6,7,8,9,...,249,250,251,252,253,254,255,256,257,258
0,Homeopath,100.0,False,24.0,Ernakulam,0,0,0,0,0,...,0,0,0,0,0,0,188.431373,10,600,111.474080
1,Ayurveda,98.0,False,12.0,Bangalore,0,0,1,1,0,...,0,0,1,0,0,0,328.842607,30,900,159.136744
2,ENT Specialist,-999.0,True,9.0,Bangalore,0,0,0,0,0,...,0,0,0,0,0,0,328.842607,30,900,159.136744
3,Ayurveda,-999.0,True,12.0,Bangalore,0,0,0,1,0,...,0,0,0,0,0,0,328.842607,30,900,159.136744
4,Ayurveda,100.0,False,20.0,Chennai,0,0,0,1,0,...,0,0,0,0,0,0,283.602339,50,950,167.797081

In [145]:
#Samekey
from sklearn.preprocessing import LabelEncoder
cols=(0,2,4)
for c in cols:
    lbl=LabelEncoder()
    lbl.fit(list(X1[c].values))
    X1[c]=lbl.transform(list(X1[c].values))
    test2[c]=lbl.transform(list(test2[c].values))

In [146]:
#df["Qual1"]

In [147]:
#X=df.drop("Fees",axis=1)
#y=df["Fees"]

In [148]:
#X

<h1>AdaBoost Regressor</h1>

In [149]:
from sklearn.ensemble import AdaBoostRegressor

In [150]:
ada=AdaBoostRegressor(n_estimators=800)

In [151]:
ada.fit(X,y)

AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
         n_estimators=800, random_state=None)

In [235]:
pred_ada=ada.predict(test)

<h1>GradientBoost Regressor</h1>

In [153]:
from sklearn.ensemble import GradientBoostingRegressor

In [154]:
gb=GradientBoostingRegressor(n_estimators=500)

In [155]:
gb.fit(X,y)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=500, n_iter_no_change=None, presort='auto',
             random_state=None, subsample=1.0, tol=0.0001,
             validation_fraction=0.1, verbose=0, warm_start=False)

In [219]:
pred_gb=gb.predict(test)

<h1>Bagging Regressor</h1>

In [157]:
from sklearn.ensemble import BaggingRegressor

In [158]:
br=BaggingRegressor(n_estimators=700)

In [159]:
br.fit(X,y)

BaggingRegressor(base_estimator=None, bootstrap=True,
         bootstrap_features=False, max_features=1.0, max_samples=1.0,
         n_estimators=700, n_jobs=None, oob_score=False, random_state=None,
         verbose=0, warm_start=False)

In [220]:
pred_br=br.predict(test)

<h1>ExtraTreesRegressor</h1>

In [161]:
from sklearn.ensemble import ExtraTreesRegressor

In [162]:
etr=ExtraTreesRegressor(n_estimators=500)

In [163]:
etr.fit(X,y)

ExtraTreesRegressor(bootstrap=False, criterion='mse', max_depth=None,
          max_features='auto', max_leaf_nodes=None,
          min_impurity_decrease=0.0, min_impurity_split=None,
          min_samples_leaf=1, min_samples_split=2,
          min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=None,
          oob_score=False, random_state=None, verbose=0, warm_start=False)

In [221]:
pred_etr=etr.predict(test)

<h1>MLP Regressor</h1>

In [165]:
from sklearn.neural_network import MLPRegressor

In [166]:
mlp=MLPRegressor()

In [167]:
mlp.fit(X,y)

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=None, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [222]:
pred_mlp=mlp.predict(test)

<h1>KNN Regressor</h1>

In [169]:
from sklearn.neighbors import KNeighborsRegressor

In [170]:
knn=KNeighborsRegressor(n_neighbors=500)

In [171]:
knn.fit(X,y)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=500, p=2,
          weights='uniform')

In [223]:
pred_knn=knn.predict(test)

<h1>Decision Tree Regressor</h1>

In [173]:
from sklearn.tree import DecisionTreeRegressor

In [174]:
dtr=DecisionTreeRegressor()

In [175]:
dtr.fit(X,y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [224]:
pred_dtr=dtr.predict(test)

<h2>Random Forest</h2>

With Location

In [177]:
from sklearn.ensemble import RandomForestRegressor

In [178]:
rfc=RandomForestRegressor(n_estimators=500)

In [179]:
rfc.fit(X,y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [212]:
pred_rfc=rfc.predict(test)

Without Location

In [181]:
rfc1=RandomForestRegressor(n_estimators=100)

In [182]:
rfc1.fit(X1,y1)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [183]:
pred1=rfc1.predict(test2)

In [184]:
pred_rfc.shape

(5961,)

In [185]:
pred1.shape

(83,)

<h1>XGBoost</h1>

In [186]:
import xgboost as xgb

In [187]:
xgb = xgb.XGBRegressor(learning_rate=0.05,n_estimators= 700,silent=True, nthread=1)

In [188]:
xgb.fit(X,y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.05, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=700,
       n_jobs=1, nthread=1, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [234]:
pred_xgb=xgb.predict(test)

<h1>LightGBM</h1>

In [190]:
import lightgbm as lgbm

In [191]:
lgbm=lgbm.LGBMRegressor(n_estimators=700)

In [192]:
lgbm.fit(X,y)

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
       importance_type='split', learning_rate=0.1, max_depth=-1,
       min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
       n_estimators=700, n_jobs=-1, num_leaves=31, objective=None,
       random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
       subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [233]:
pred_lgbm=lgbm.predict(test)

<h2>Feature Importance</h2>

In [ ]:
X.head()

In [ ]:
importances = rfc.feature_importances_
std = np.std([tree.feature_importances_ for tree in rfc.estimators_],
             axis=0)
indices = np.argsort(importances)[::-1]

# Print the feature ranking
print("Feature ranking:")

for f in range(X.shape[1]):
    print("%d. feature %d (%f)" % (f + 1, indices[f], importances[indices[f]]))

# Plot the feature importances of the forest
plt.figure()
plt.title("Feature importances")
plt.bar(range(X.shape[1]), importances[indices],
       color="r", yerr=std[indices], align="center")
plt.xticks(range(X.shape[1]), indices)
plt.xlim([-1, X.shape[1]])
plt.show()

<h2>StackNET Regressor</h2>

In [ ]:
from pystacknet.pystacknet import StackNetRegressor
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor,ExtraTreesRegressor, AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor

In [ ]:
models=[[KNeighborsRegressor (n_neighbors=300), GradientBoostingRegressor (n_estimators=300),
         ExtraTreesRegressor (n_estimators=300) , DecisionTreeRegressor (),
         AdaBoostRegressor (n_estimators=300)
        ],
        [RandomForestRegressor (n_estimators=400)]
       ]

In [ ]:
model=StackNetRegressor(models, folds=4,restacking=True, n_jobs=1, verbose=1)

In [ ]:
model.fit(X,y)

In [ ]:
predictions_stk=model.predict(test)

<h2>Evaluation Metric</h2>

In [ ]:
#def rmsle(p, a):
    #sum = 0
    #for i in  range(0,len(p)):
     #   sum += math.pow(math.log(float(p[i]) + 1) - math.log(float(a[i]) + 1),2)
    #sum = sum * (1/len(p))
    #return float(math.sqrt(sum))

In [ ]:
#rmsle(pred,y)

In [ ]:
def rmsle(y, y_):
   log1 = np.nan_to_num(np.array([np.log(v + 1) for v in y]))
   log2 = np.nan_to_num(np.array([np.log(v + 1) for v in y_]))
   calc = (log1 - log2) ** 2
   return np.sqrt(np.mean(calc))

In [ ]:
rmsle(pred_rfc,y)

In [ ]:
y.head()

In [ ]:
pred_ada

<h2>Cross Validation</h2>

In [ ]:
from pprint import pprint
print('Parameters currently in use:\n')
pprint(gb.get_params())

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
#n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
pprint(random_grid)

In [ ]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.model_selection import KFold

In [ ]:
folds = 3
param_comb = 5

skf = KFold(n_splits=folds, shuffle = True, random_state = 1001)

random_search = RandomizedSearchCV(rfc, param_distributions=random_grid, n_iter=param_comb, scoring=lol, n_jobs=4, cv=skf.split(X,y), verbose=3, random_state=1001 )

In [ ]:
random_search.fit(X, y)

In [ ]:
print('\n All results:')
print(random_search.cv_results_)
print('\n Best estimator:')
print(random_search.best_estimator_)
print('\n Best normalized gini score for %d-fold search with %d parameter combinations:' % (folds, param_comb))
print(random_search.best_score_ * 2 - 1)
print('\n Best hyperparameters:')
print(random_search.best_params_)

<h2>Combining</h2>

In [213]:
test2.shape

(83, 259)

In [214]:
pred1.shape

(83,)

In [241]:
sub=pd.DataFrame()
sub[0]=test2[0]
sub.drop([0],axis=1,inplace=True)
sub['Fees']=pred1

In [272]:
sub1=pd.DataFrame()
sub1[0]=test[0]
sub1.drop([0],axis=1,inplace=True)
sub1['Fees']=pred_xgb

<h2>Submission</h2>

In [273]:
finalsub=pd.concat([sub,sub1],axis=0)
finalsub=finalsub.sort_index(axis=0)

In [274]:
pred_xgb=finalsub['Fees']

In [277]:
finalsub.to_excel("Try.xlsx")

In [ ]:
from sklearn.metrics import make_scorer
lol=make_scorer(rmsle)

<h4>Rounding Off</h4>

In [ ]:
a=[]

In [ ]:
haha=[]
for i in range(0,len(a)):
    lel=(round(a[i]/50)*50)
    haha.append(lel)

In [ ]:
finalsub['Fees']=round(finalsub['Fees'])

<h2>Combining to get weights</h2>

In [194]:
weights=pd.DataFrame()

In [195]:
weights['Ada']=pred_ada

In [196]:
weights['GBR']=pred_gb

In [197]:
weights['Bagging']=pred_br

In [198]:
weights['MLP']=pred_mlp

In [199]:
weights['KNN']=pred_knn

In [200]:
weights['ExtraTrees']=pred_etr

In [201]:
weights['DescionTree']=pred_dtr

In [202]:
weights['XGBoost']=pred_xgb

In [203]:
weights['LightGBM']=pred_lgbm

In [204]:
weights['RFC']=pred_rfc

In [205]:
weights['True']=y

In [206]:
weights.head()

,Ada,GBR,Bagging,MLP,KNN,ExtraTrees,DescionTree,XGBoost,LightGBM,RFC,True
0,113.407258,91.217615,114.714286,124.614225,216.860,100.0,100.0,131.705048,93.600195,116.000000,100
1,332.964023,350.222174,348.607143,353.884505,335.360,350.0,350.0,351.591919,347.259732,342.466667,350
2,332.964023,295.174764,300.785714,313.776754,279.220,300.0,300.0,297.307861,300.593243,302.600000,300
3,271.480879,194.438851,245.857143,202.520296,268.596,250.0,250.0,177.983368,226.656504,242.100000,250
4,271.480879,241.848756,245.500000,255.815280,240.620,250.0,250.0,241.401901,241.577746,244.900000,250

<h2>Linear Regression</h2>

In [207]:
X3=weights.drop(['True'],axis=1)
y3=weights['True']

In [208]:
from sklearn.linear_model import LinearRegression

In [209]:
lr=LinearRegression()

In [228]:
lr.fit(X3,y3)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [229]:
lr.coef_

array([-3.52308068e-16, -6.10622664e-16,  9.15933995e-16, -2.35922393e-16,
        1.38777878e-17,  6.93889390e-17,  1.00000000e+00,  4.16333634e-17,
        6.93889390e-17,  1.52655666e-16])

<h2>Combining the weights</h2>

In [237]:
finalsub.shape

(1987, 1)

In [240]:
len(pred_ada)

1904

In [275]:
finalsub['Fees']=((pred_ada*(-0.000000000000000352308068))+(pred_gb*(-0.000000000000000610622664))+(pred_br*(0.000000000000000915933995))+(pred_mlp*(-0.000000000000000235922393))+(pred_knn*(0.0000000000000000138777878))+(pred_etr*(0.0000000000000000693889390))+(pred_dtr*(1))+(pred_xgb*(0.0000000000000000416333634))+(pred_lgbm*(0.0000000000000000693889390))+(pred_rfc*(0.000000000000000152655666)))

In [276]:
finalsub.head()

    Fees
0  300.0
1  500.0
2  150.0
3  200.0
4  800.0